.hero {
  padding-top: 160px;
  min-height: 800px;
  background-color: var(--dark-color);

  @include hight-tablet {
    min-height: auto;
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 40px;
    padding-top: 80px;
  }

  &__container {
    @include flex-v-center;
    @include mobile {
      justify-content: center;
    }
  }

  &__image {
    transform: translateX(167px);
    @include hight-tablet {
      display: none;
    }
  }

  &__content {
    max-width: 550px;
    @include hight-tablet {
      max-width: none;
    }
  }

  &__title {
    margin: 0;
    color: var(--light-color);
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 275px;
    }

    &-text {
      display: block;
      max-width: 90%;
      font-size: 20px;
      line-height: 160%;

      @include mobile {
        max-width: unset;
        width: 290px;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  &__h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;

    @include mobile {
      font-size: 30px;
      text-align: center;
    }
  }
}
