.order {
  @include image-set("../img/percents");

  padding: 87px 0;
  background-color: var(--accent-color);
  background-position: bottom center;
  background-size: cover;

  @include mobile {
    font-size: 20px;
    padding: 40px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;

    @include mobile {
      grid-gap: unset;
    }
  }
  &__left {
    grid-column: 5 span;
    padding-left: 60px;

    @include hight-tablet {
      grid-column: 12 span;
      padding-left: 0;
      margin-bottom: 30px;
    }
  }

  &__right {
    grid-column: 7 span;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;

    @include hight-tablet {
      grid-column: 12 span;
      justify-content: flex-start;
      padding-right: 0;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);

    @include mobile {
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);

    @include mobile {
      // font-size: 16px;
      text-align: center;
    }
  }

  &__form {
    max-width: 500px;
  }
}
