.graph-modal__close {
  right: 40px;
  top: 40px;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  color: var(--text-color);
}

.popup {
  padding: 40px;

  &__top {
    display: flex;
    margin-bottom: 40px;
  }

  &__image {
    margin-right: 40px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
  }

  &__post {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--text-color);
  }

  &__bottom-content {
    margin-top: 20px;
    height: 375px;
  }

  &__descr {
    margin-bottom: 40px;
  }

  &__text {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--dark-color);
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
  }

  .simplebar-track.simplebar-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(20, 16, 36, 0.08);
    border-radius: 40px;
    width: 5px;
  }

  .simplebar-scrollbar::before {
    left: 0;
    right: 0;
    opacity: 1;
    width: 5px;
    border-radius: 40px;
    background-color: var(--dark-color);
  }
}

.tabs {
  &__menu {
    border-bottom: 1px solid rgba(20, 16, 36, 0.11);
    padding-bottom: 20px;
  }

  &__nav {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--dark-color);

      &:focus {
        color: var(--accent-color);
        background-color: transparent;
      }

      &--active {
        background-color: transparent;
        outline: none;
        color: var(--accent-color);
      }
    }
  }
}
